 <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li> <a class="waves-effect waves-dark" href="{:url('Admin/lst')}" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Admin</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark" href="{:url('Admin/add')}" aria-expanded="false"><i class="mdi mdi-account-check"></i><span class="hide-menu">Add</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark" href="{:url('Message/index')}" aria-expanded="false"><i class="mdi mdi-table"></i><span class="hide-menu">add message</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark" href="{:url('Message/lst')}" aria-expanded="false"><i class="mdi mdi-emoticon"></i><span class="hide-menu">List</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark" href="{:url('Cate/add')}" aria-expanded="false"><i class="mdi mdi-earth"></i><span class="hide-menu">Cate</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark" href="{:url('Cate/lst')}" aria-expanded="false"><i class="mdi mdi-book-open-variant"></i><span class="hide-menu">Blank Page</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark" href="pages-error-404.html" aria-expanded="false"><i class="mdi mdi-help-circle"></i><span class="hide-menu">Error 404</span></a>
                        </li>
                    </ul>
                    <div class="text-center m-t-30">
                        <a href="#" class="btn waves-effect waves-light btn-warning hidden-md-down"> Upgrade to Pro</a>
                    </div>
                </nav>
                <!-- End Sidebar navigation -->
            </div>